1) ESCREVA UM PROGRAMA PARA SOMAR TODOS OS ITENS EM UMA LISTA.

In [ ]:
lit1 = [1,2,3,4,5,6,7]
soma = 0
for i in lit1:
  soma += i
print(f"A soma é {soma}")

A soma é 28

2) ESCREVA UM PROGRAMA PARA MULTIPLICAR TODOS OS ITENS DE UMA LISTA

In [ ]:
mul = 1
lit2 = [1,2,3,4,5,6,7,8,9]
for i in lit2:
  mul *= i
print(f"A multiplicação é {mul}")

A multiplicação é 362880

3) ESCREVA UM PROGRAMA PARA OBTER O MAIOR NÚMERO DE UMA LISTA

In [ ]:
print(lit2)
maior = max(lit2)
print(f"O maior valor da lista é {maior}")

[1, 2, 3, 4, 5, 6, 7, 8, 9]
O maior valor da lista é 9

4) ESCREVA UM PROGRAMA PARA OBTER O MENOR NÚMERO DE UMA LISTA.

In [ ]:
mini = min(lit2)
print(f"O menor valor é {mini}")

O menor valor é 1

5) ESCREVA UM PROGRAMA PARA REMOVER DUPLICATAS DE UMA LISTA

In [ ]:
lista = [1,2,3,1,2,3,4,5,6,7]
conju = set(lista)
nova = list(conju)
print(nova)
type(nova)

[1, 2, 3, 4, 5, 6, 7]

list

6) ESCREVA UM PROGRAMA PARA COPIAR UMA LISTA PARA OUTRA

In [ ]:
aniv = ["Lucas", "Carlos,", "Dylan", "Adam"]
print(aniv)
copia = aniv.copy()
print(copia)

['Lucas', 'Carlos,', 'Dylan', 'Adam']
['Lucas', 'Carlos,', 'Dylan', 'Adam']

7) ESCREVA UM PROGRAMA QUE RECEBA DUAS LISTAS E RETORNE TRUE SE ELAS TIVEREM PELO MENOS UM ELEMENTO EM COMUM.

In [ ]:
l1 = [1,2,3]
l2 = [1,3,4]
con = set(l1)
inter = con.intersection(l2)
if (con.intersection(l2)):
  print("True")
print(inter)

True
{1, 3}

8) ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA.

In [ ]:
tupla  = (1,2,3)
type(tupla)

tuple

9) ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA COM DIFERENTES TIPOS DE DADOS.

In [ ]:
tup =(1,"Lucas", "Carlos,", "Dylan", "Adam", 5.6)
type(tup)

tuple

10) ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA COM NÚMEROS E IMPRIMIR UM ITEM.

In [ ]:
mas = (1,23,45,678,910,11,12,1314)
print(mas[2])

45

11) ESCREVA UM PROGRAMA PARA ADICIONAR UM ITEM EM UMA TUPLA

In [ ]:
tup2 = (88, "A letra L")
tup = tup + tup2
print(tup)

(1, 'Lucas', 'Carlos,', 'Dylan', 'Adam', 5.6, 88, 'A letra L')

12) ESCREVA UM PROGRAMA PARA OBTER O 4º ELEMENTO E O ÚLTIMO DE UMA TUPLA

In [ ]:
nova = (99,"oieee", [99,22,33], True, "Lista", False, 1)
print(nova[4])
print(nova[5])

Lista
False

13) ESCREVA UM PROGRAMA PARA ENCONTRAR OS ITENS REPETIDOS DE UMA TUPLA

In [ ]:
og = (8,1,1,2,2,3,4,5,6,7)
type(og)
og_set = set(og)
if (len(og) != len(og_set)):
  print("Existem elementos repetidos")
else:
    print("Ta mec")

Existem elementos repetidos

14) ESCREVA UM PROGRAMA PARA CONVERTER UMA LISTA EM UMA TUPLA.

In [ ]:
lista = [1,2,3,4,5,6]
type(lista)
tulpa = tuple(lista)
type(tulpa)

tuple

15) ESCREVA UM PROGRAMA PARA ADICIONAR UMA CHAVE A UM DICIONÁRIO.

In [ ]:
dicio = {"RJ" : 21, "MG": 31}
dicio.update({"RS" : 51})
print(dicio)

{'RJ': 21, 'MG': 31, 'RS': 51}

16) CRIE DOIS DICIONÁRIOS DIFERENTES E CONCATENE PARA CRIAR UM NOVO.

In [ ]:
dicio2 = {"PE" : 71, "SP": 11}
dicio.update(dicio2)
print(dicio)

{'RJ': 21, 'MG': 31, 'RS': 51, 'PE': 71, 'SP': 11}

17) ESCREVA UM PROGRAMA PARA VERIFICAR SE UMA DETERMINADA CHAVE JÁ EXISTE EM UM DICIONÁRIO.

In [ ]:
dicio3 = {1:10, 2:20, 3:30, 4:40}
eita = int(input("Digite um valor: "))
if eita in dicio3:
  print("Ta no dicionário")
else:
  print("Não ta no dicionário")

Digite um valor: 5
Não ta no dicionário

18) ESCREVA UM PROGRAMA PARA ITERAR SOBRE DICIONÁRIOS USANDO LOOPS FOR.

In [ ]:
dicio4 = {2:22, 3:33, 4:44, "time" : "Vasco"}
for k in dicio4:
  print(k)
for k in dicio4:
  print(f"{k} : {dicio4[k]}")

2
3
4
time
2 : 22
3 : 33
4 : 44
time : Vasco

19) ESCREVA UM PROGRAMA PARA MULTIPLICAR TODOS OS ITENS EM UM DICIONÁRIO.

In [ ]:
mul =1
dicio5 = {3:33, 4: 44, 5:77, "b": 4}
for i in dicio5:
  print(i)
  mul *= dicio5[i]
print(mul)

3
4
5
b
447216

20) ESCREVA UM PROGRAMA PARA REMOVER UMA CHAVE DE UM DICIONÁRIO

In [ ]:
dicio6 = {"RJ": "Teresópils", "SP" : "Trembembé", "CE" : "Crato"}
for i in dicio6:
  print(i)

RJ
SP
CE

In [ ]:
dicio6.pop("RJ", None)
print(dicio6)

{'SP': 'Trembembé', 'CE': 'Crato'}

In [ ]:
del dicio6["SP"]
print(dicio6)

{'CE': 'Crato'}