
1) CRIE UMA FUNÇÃO QUE ACEITA DOIS ARGUMENTOS (NOME E IDADE) E IMPRIMIR SEU VALOR

In [ ]:
def nom_id(nome, idade):
  return(f"O nome é {nome} e a idade é {idade}")

In [ ]:
nom_id("Lucas", 27)

'O nome é Lucas e a idade é 27'

2) ESCREVA UMA FUNÇÃO DE FORMA QUE ELA POSSA ACEITAR UM TAMANHO VARIÁVEL DE
ARGUMENTO E IMPRIMIR TODOS OS VALORES DOS ARGUMENTOS.

In [ ]:
def inf_par(*args):
  for i in args:
    print(i)

In [ ]:
inf_par(80,78,90)

80
78
90

3) ESCREVA UMA FUNÇÃO () QUE POSSA ACEITE DUAS VARIÁVEIS E CALCULE A ADIÇÃO E
SUBTRAÇÃO DELAS. E TAMBÉM DEVE RETORNAR ADIÇÃO E SUBTRAÇÃO EM UMA ÚNICA
CHAMADA DE RETORNO

In [ ]:
def calc(x, y):
  soma = x + y
  sub = x - y
  return soma, sub

In [ ]:
calc(3,4)

(7, -1)

In [ ]:
soma, sub = calc(3,4)
print(soma)
print(sub)

7
-1

4) CRIE UMA FUNÇÃO QUE ACEI TE O NOME DO FUNCIONÁRIO E SEU SALÁRIO E EXIBA AMBOS. SE O SALÁRIO ESTIVER FALTANDO NA CHAMADA DE FUNÇÃO, ATRIBUA O VALOR PADRÃO 1000 AO
SALÁRIO.

In [ ]:
def sal(nome, salario = 100):
  return (nome, salario)

In [ ]:
nome, salario = sal("Lucas")
print(nome)
print(salario)

Lucas
100

5) ESCREVA UMA FUNÇÃO RECURSIVA PARA CALCULAR A SOMA DOS NÚMEROS DE 0 A 10

In [ ]:
def soma(num):
  if (num):
    return num + soma(num - 1)
  else:
    return 0

In [ ]:
soma(10)

55

6) ESCREVA UMA FUNÇÃO E QUANDO FOR USÁ- LA CHAME POR UM NOVO NOME.

In [ ]:
def mostra(nome, idade):
  return nome, idade

In [ ]:
mostra_n = mostra

In [ ]:
mostra_n("Lucas", 27)

('Lucas', 27)

7) CRIE UMA FUNÇÃO QUE RECEBE COMO PARÂMETRO UM NÚMERO INTEIRO E DEVOLVE O SEU
DOBRO.

In [ ]:
def dobro(entrada):
  return 2 * entrada

In [ ]:
receb_dobro = dobro(10)
print(receb_dobro)

20

8) FAÇA UMA FUNÇÃO PARA VERI F ICAR SE UM NÚMERO É POSITIVO OU NEGATIVO. SENDO QUE O VALOR DE RETORNO SERA 1 SE POSITIVO, -1 SE NEGATIVO E 0 SE FOR IGUAL A 0

In [ ]:
def verif(x):
  if ( x > 0):
    return 1
  elif ( x < 0):
    return -1
  else:
    return "Igual a 0"

In [ ]:
verif(10)

1

9) FAÇA UMA FUNÇÃO QUE RECEBA DOIS NÚMEROS E RETORNE QUAL DELES É O MAIOR

In [ ]:
def mai(val1, val2):
  if ( val1 > val2):
    return val1
  elif (val2 > val1):
     return val2
  else:
    "São iguais"

In [ ]:
mai(9,4)

9

10) ELABORE UMA FUNÇÃOO QUE RECEBA TRÊS NOTAS DE UM ALUNO COMO PARÂMETROS E UMA
LETRA. SE A LETRA FOR A, A FUNÇÃO DEVERÁ CALCULAR A MÉDIA ARITMÉTICA DAS NOTAS DO ALUNO; SE FOR P, DEVERÁ CALCULAR A MÉDIA PONDERADA, COM PESOS 5, 3 E 2

In [ ]:
def nota(nota1, nota2, nota3, letra):
  if ( letra == "A"):
    media = (nota1 + nota2 + nota3)/3
    return (f"a média é {media}")
  elif (letra == "P"):
    mediap = (nota1 * 5 + nota2 * 3 + nota3 * 2)/10
    return (f"a média é {mediap}")
  else:
    return "Letra invalida"

In [ ]:
nota(5,6,7,"P")

'a média é 5.7'

11) FAÇA UMA FUNÇÃO QUE RECEBA DOIS NÚMEROS INTEIROS POSI T IVOS POR PARÂMETRO E
RETORNE A SOMA DOS N NUMEROS INTEIROS EXISTENTES ENTRE ELES.

In [ ]:
def soma_int(valA, valB):
  soma = 0
  for i in range(valA, valB + 1, 1):
   soma += i
  return soma

In [ ]:
soma_int(2,4)

9

12) FAÇA UMA FUNÇÃO QUE RECEBA A ALTURA E O RAIO DE UM CILINDRO CIRCULAR E 
RETORNE O VOLUME DO CILINDRO. O VOLUME DE UM CILINDRO CIRCULAR E CALCULADO POR MEIO DA SEGUINTE FÓRMULA: V = Π ∗ RAIO2 ∗ AL TURA, ONDE Π = 3.141592.

In [ ]:
def volume_c(altura, raio):
  pi = 3.141592
  volume = pi * (raio*raio) * altura
  return volume

In [ ]:
volume_c(2, 5)

157.0796

13) ESCREVA UMA FUNÇÃO QUE RECEBE UM NÚMERO REAL COMO ARGUMENTO E RETORNA O
VALOR ABSOLUTO DESSE NÚMERO.

In [ ]:
def real(x):
  if ( x < 0 ):
    return x *(-1)
  else:
    return x

In [ ]:
real(-4)

4

14) ESCREVA UMA FUNÇÃO PARA SOMAR TODOS OS NÚMEROS EM UMA LISTA

In [ ]:
lista = [1,2,3,4,5]

In [ ]:
def soma_lista(lista):
  soma = 0
  for i in lista:
    soma += i
  return soma

In [ ]:
soma_lista(lista)

15

15) ESCREVA UMA FUNÇÃO PARA MULTIPLICAR TODOS OS NÚMEROS EM UMA LISTA

In [ ]:
def mul_list(lista):
  mult = 1
  for i in lista:
    mult *= i
  return mult

In [ ]:
mul_list(lista)

120

16) ESCREVA UMA FUNÇÃO PARA VERIFICAR SE UM NÚMERO ESTÁ EM UM DETERMINADO
INTERVALO.

In [ ]:
def def_int(a,b,verificar):
  for i in range (a, b + 1, 1):
    if (i == verificar):
      print("Está no intervalo")
    else:
      print("Não está no intervalo")

In [ ]:
def_int(1,10,8)

Não está no intervalo
Não está no intervalo
Não está no intervalo
Não está no intervalo
Não está no intervalo
Não está no intervalo
Não está no intervalo
Está no intervalo
Não está no intervalo
Não está no intervalo

17) ESCREVA UM PROGRAMA PARA IMPRIMIR OS NÚMEROS PARES DE UMA DETERMINADA LISTA.

In [ ]:
def det_par(lista3):
  lista_par = []
  for i in lista3:
    if ( i % 2 == 0):
      lista_par.append(i)
  return lista_par

In [ ]:
lista3 = [10,21,34,56,76]

In [ ]:
det_par(lista3)

[10, 34, 56, 76]

18) ESCREVA UMA FUNÇÃO PARA CRIAR E IMPRIMIR UMA LISTA ONDE OS VALORES SÃO
QUADRADOS DE NÚMEROS ENTRE 1 E 30 (AMBOS INCLUÍDOS).

In [ ]:
def listaquad():
  lisq = []
  for i in range(1, 31, 1):
    lisq.append(i * i)
  return lisq

In [ ]:
listaquad()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

19) ESCREVA UM PROGRAMA PARA DETECTAR O NÚMERO DE VARIÁVEIS LOCAIS DECLARADAS EM UMA FUNÇÃO

In [ ]:
def qualq():
  pass

In [ ]:
print(qualq.__code__.co_nlocals)

0

In [ ]:
def teste():
  a, b, c = 12,22,33
  nome = "Lucas"
print(teste.__code__.co_nlocals)

4